.btn {
  margin-bottom: 30px;
  background-color: #212529;
  border: solid black 1px;
}

.country-title {
  font-weight: bold;
  padding-bottom: 10px;
}

.country-content {
  padding-top: 130px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-bottom: 190px;
}

.country-flag {
  padding-left: 40px;
}
.country-data1 {
  margin-top: 115px;
}
.country-data2 {
  margin-top: 115px;
  padding-right: 40px;
}

.country-content h5 {
  font-size: 24px;
  font-weight: bold;
  line-height: 220%;
}
.country-content span {
  font-weight: normal;
}

@media (max-width: 800px) {
  .country-content {
    flex-direction: column;
  }
}
