body {
  background-color: rgb(33, 45, 55);
}
.btn {
  margin-bottom: 30px;
  background-color: #212529;
  border: solid black 1px;
}

.country-title {
  font-weight: bold;
  padding-bottom: 10px;
}

.country-content {
  margin-top: 130px;
  align-items: center;
  gap: 30px;
  display: flex;
}

.country-flag {
  padding-left: 30px;
}
.country-data1 {
  margin-top: 115px;
  flex: 1;
}
.country-data2 {
  margin-top: 115px;
  flex: 1;
}

.country-content h5 {
  font-size: 24px;
  font-weight: bold;
  line-height: 220%;
}
.country-content span {
  font-weight: normal;
}

@media (max-width: 1500px) {
  .country-content {
    flex-direction: column;
    align-items: start;
  }
  .country-data2 {
    margin-top: 0px;
    margin-left: 30px;
  }

  .country-data1 {
    margin-top: 0px;
    margin-left: 30px;
  }
}

@media (max-width: 550px) {
  .country-content {
    gap: 10px;
  }
  .flag-img {
    width: 420px;
    height: 250px;
    padding-right: 30px;
  }

  .country-content h5 {
    font-size: 18px;
    line-height: 150%;
  }

  @media (max-width: 440px) {
    .flag-img {
      width: 350px;
      height: 220px;
    }
  }
}
