body {
  background-color: rgb(33, 45, 55);
}
.btn {
  margin-bottom: 30px;
  background-color: #212529;
  border: solid black 1px;
}

.country-title {
  font-weight: bold;
  padding-bottom: 10px;
}

.country-content {
  margin-top: 130px;
  align-items: center;
  gap: 30px;
  display: flex;
}

.country-flag {
  padding-left: 40px;
}
.country-data1 {
  margin-top: 115px;
  flex: 1;
}
.country-data2 {
  margin-top: 115px;

  flex: 1;
}

.country-content h5 {
  font-size: 24px;
  font-weight: bold;
  line-height: 220%;
}
.country-content span {
  font-weight: normal;
}

@media (max-width: 800px) {
  .country-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .country-data2 {
    margin-top: 0px;
  }

  .country-data1 {
    margin-top: 0px;
  }
}
