.site {
  background-color: rgb(33, 45, 55);
  color: white;
}
.navbar {
  border-bottom: 1px solid black;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
}
.navbar-nav .nav-link.inactive {
  color: white;
}
.navbar-nav .nav-link.inactive:hover {
  color: #9b9d97;
}

.logo {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}
.nav-title {
  color: white;
  margin-left: 20px;

  text-decoration: none;
  font-weight: bold;
}

.nav-title:hover {
  margin-left: 20px;
  color: #9b9d97;
}

.spinner-border {
  width: 5rem;
  height: 5rem;
  margin-top: 320px;
  margin-bottom: 320px;
}

.table {
  margin-top: 110px;
  max-width: 96%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
td {
  width: 25%;
}

@media (max-width: 500px) {
  .table {
    margin-left: 0px;
  }
}
